<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.coonax.coonax" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_pdf"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ActivitiesActivity"
            android:label="@string/title_activity_activities"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.coonax.coonax.MainActivity" />
        </activity>
        <activity
            android:name=".ui.ShowsActivity"
            android:label="@string/title_activity_shows"
            android:parentActivityName=".ui.ActivitiesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.coonax.coonax.ui.ActivitiesActivity" />
        </activity>
        <activity
            android:name=".ui.ShowActivity"
            android:label="@string/title_activity_show"
            android:parentActivityName=".ui.ShowsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.coonax.coonax.ui.ShowsActivity" />
        </activity>
        <activity
            android:name=".ui.RestaurantsActivity"
            android:label="@string/title_activity_restaurants"
            android:parentActivityName=".ui.ActivitiesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.coonax.coonax.ui.ActivitiesActivity" />
        </activity>
        <activity
            android:name=".ui.ShopsActivity"
            android:label="@string/title_activity_shops"
            android:parentActivityName=".ui.ActivitiesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.coonax.coonax.ui.ActivitiesActivity" />
        </activity>
    </application>

</manifest>
